.header {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    background-color: darkgray;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 200px 700px;
    padding: 1em;


}

.anidado.grid {

}