.header {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    background-color: darkgray;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 200px 700px;
    padding: 2em;
    


}

.anidado-grid {
    right: center;

    

}
.linea {
    border-top: 1px gainsboro;
    height: 2px;
    padding: 0;
    
}