.header {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    background-color: darkgray;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 200px 700px;
    padding: 2em;
    


}

.anidado-grid {
    text-align: ;
    

}

image {
    border-color: darkgrey;
    border-radius: 45%;

}

h4 {
    text-decoration-line: underline;
    text-decoration-color: gainsboro;
}
