.header {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    background-color: darkgray;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 200px 700px;
    padding: 2em;
    


}

.anidado-grid {
    right: center;

    

}

.linea {
    border-top: 1px gray;
    height: 2px;
    padding: 0;
    
}

.image {
    border-color: darkgrey;
    border-radius: 45%;
    float: left;

}

.bordeimagen {
    border: 3px;
    border-radius: 25px;
    height: 30px;
}

h4 {
    text-decoration-line: underline;
    text-decoration-color: gainsboro;
}

.skill_bar,
.skill_bar::after {
    position: relative ;
    width: 150px;
    height: 8px;
    background-color: darkgray;
    border-radius: var(--border-radius);
    
}

