body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#layout {
    width: 800px;
    height: auto;
}

.header {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    background-color: gray;
    color: white;
    grid-template-columns: 800px;
    height: 50px;
    width: 100%;
    position: relative;

}


.grid {
    display: grid;
    grid-template-columns: 340px 450px;
    gap: 2em;
}

#leftSection {
    padding: 6em 1em 0px 1em;
    font-size: 15px;
}


.anidado-grid {
    right: center;

    

.leftMenuContainer {
    margin-left: 14px;
    margin-right: 14px;
}

.linea {
    border-top: 1px gray;
    height: 2px;
    padding: 0;
    
}

.image {
    border-color: darkgrey;
    border-radius: 45%;
    float: left;

}

.bordeimagen {
    border: 3px;
    border-radius: 25px;
    height: 30px;
}

h4 {
    text-decoration-line: underline;
    text-decoration-color: gainsboro;
}

.skill_bar,
.skill_bar::after {
    position: relative ;
    width: 150px;
    height: 8px;
    background-color: darkgray;
    border-radius: var(--border-radius);
    
}


